body, html {
    height: 100%;
    background-image: url(/static/images/darkbg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cb-bg-events {
    background-color: #03dd84;
}
img {
    padding:auto;
    margin-bottom: 0.5em;
}
.cb-events {
    max-width: 1000px;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: auto;
}

.nav-item {
    padding-right: 15px;
    font-size: 1em; 
}

h1 {
    font-family:Chiller, sans-serif;
    color: #fafafa;
    font-size: 10em;
    padding-top: 150px;
}

a {
    color: #fafafa;
}

i {
    color: #3b945E;
}

 nav {
 height:4em;
 }

h3 {
    color: #03dd84;
}

nav a:hover {
    color: #03dd84;
    border-style:solid;
    border-width: thin;
}
a:hover {
    color: #03dd84;
}

.cb-add_climb {
    background-color: #f2f2f2;
    padding: 2em;
    border: 1px solid #03dd84;
    border-radius: 0.5em;
}

.cb-add_climb button{
    background-color: #3B945E;
    color: #f2f2f2;
}

.switcher::after {
    background-color:#03dd84;
}
/* background {
    background-image: url(/static/images/Bg_ladies.jpg);
} */
.cb-text span {
    background-color: black;
    padding:0, 1em;
}
.flash-msg {
    line-height: 3;
}

.flash-error {
    color: red;
}

.flash-message {
    color:green;
}

#event_description {
    height: max-content;
}

#climb_description {
    height: max-content;
}

img {
    max-width: 720px;
}