body, html {
    background: url(/static/images/darkbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*------------------------------------- Home page styling */

.cb-home h1{
    background-color: #3b945E;
    margin: .5em 0 .5em 0;
    padding: .1em;
    border-radius: .1em;
}

.cb-home h3 {
    background-color:rgba(0,0,0, 0.6);
    color: #f2f2f2;
    padding: .5em;
}

.cb-bg-events {
    background-color: #777777;
}

.cb-home p {
    font-size: 2em;
    font-family: sans-serif;
    background-color:rgba(0,0,0, 0.6) ;
    color: #f2f2f2;
}

img {
    padding:auto;
    margin-bottom: 0.5em;
}

.cb-events {
    /* max-width: 1000px; */
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.cb-climbs {
    max-width: 600px;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: auto;
}

.nav-item {
    padding-right: 15px;
    font-size: 1em; 
}

h1 {
    font-family:Chiller, sans-serif;
    color: #fafafa;
    font-size: 10em;
}
p {
    color: #3b945e;
}

a {
    color: #fafafa;
}

i {
    color: #3b945E;
}

 nav {
 height:4em;
 }

h3 {
    color: #3b945E;
}

nav a:hover {
    color: #03dd84;
    border-style:solid;
    border-width: thin;
}

a:hover {
    color: #03dd84;
}
/* ------------------------------login and registration page */
.cb-login {
    background-color: #f2f2f2;
    border: 1px solid #03dd84;
    border-radius: 0.5em ; 
    padding: 2em;
}

.cb-login h3 {
    font-family: Chiller, sans-serif;
    font-size: 2em;
}

.cb-register {
    background-color: #f2f2f2;
    border: 1px solid #03dd84;
    border-radius: 0.5em ; 
    padding: 2em;   
}

.cb-register label {
    margin-right: 2em;
    font-size: 1.2em;
    font-weight: 500;
}
.cb-redirect span{
    background-color: rgba(0,0,0, 0.6);
    padding: 0.5em;
}
.cb-redirect a {
    margin-left: .5em;
    text-decoration: underline;
}
.cb-climb_card {
    background-color:#f2f2f2 ;
    border-radius: 0.5em;
    border: 1px solid #03dd84;
}

.cb-add_event {
    background-color: #f2f2f2;
    padding: 2em;
    border: 1px solid #03dd84;
    border-radius: 0.5em;
}
/*---------------------------------------- Buttons */
.cb-add_event button{
    background-color: #3B945E;
    color: #f2f2f2;
}

.cb-btn--submit {
    background-color: #3B945E;
    color:#f2f2f2
}
.cb-btn--rows {
    margin: 0;
}
.cb-btn--home {
    background-color: #3b945e;
    color: #f2f2f2;
    font-size: 1.2em;
    width: 100%;
}

.cb-btn--home:hover {
    background-color: #03dd84;
    color: #f2f2f2;
}

.cb-btn--submit:hover {
    background-color:green;
    color:#f2f2f2;
}

.cb-btn--submit i {
    color: #f2f2f2;
}

.cb-btn--cancel {
    background-color: brown;
    color: #fafafa;
}

.cb-btn--cancel:hover {
    background-color: red;
    color: #fafafa;
}

.cb-btn--cancel i {
    color: #fafafa;
}

.flash-msg {
    line-height: 3;
}

.flash-error {
    color:red;
}

.flash-message {
    color:#03dd84;
}

#event_description {
    height: max-content;
}

#climb_description {
    height: max-content;
}

img {
    max-width: 720px;
}
/*---------------------------------------- Toggle Switch */

.cb-form-switch .switcher:checked[type=checkbox]::after {
    background-color: #3B945E;
    box-shadow: 0 0 0 .625rem rgba(59, 148, 94, 0.5) ;
}
.switcher[type=checkbox]:checked[type=checkbox]:checked {
    background-color: #3B945E;
}
/*------------------------------------------Forms styling */
.cb-accept--content h5{
    font-family: Chiller;
    font-size: 3em;
}
.cb-accept--content {
    background-color: #fafafa;
    border: 1px solid #03dd84;
    border-radius: 0.5em ;
}
.accept-icons {
    color: #3b945E;
    font-size: 1.2em;
}
.response {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: #3b945E;
    font-family: Chiller;
} 

.input-descriptions {
    margin-right: 1em;
}
/* to change default blue color for form-outline mdbootstrap*/
/* https://mdbootstrap.com/snippets/standard/grzegorz-bujanski/2852722#css-tab-view */
.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid #3b945e;
    border-bottom: .125rem solid #3b945e;
    border-left: .125rem solid #3b945e;
}
 .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: #3b945e;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor #3b945e;
    border-bottom: .125rem solid #3b945e;
    border-right: .125rem solid #3b945e;
    border-top: .125rem solid #3b945e;
}

.form-outline .form-control:focus~.form-label {
    color: #3b945e;
}		

.cb-profile {
    background-color: #fafafa;
    border-radius: 0.5em;
    border: 1px solid #03dd84;
}

.cb-profile h3{
    font-family: Chiller, sans-serif;
    font-size: 3em;
}



/* ----------- Media Query ------------- */
@media screen and (max-width: 350px) {
    .cb-home h1 {
        font-size: 5em;
    }
    .cb-profile span{
        font-size: 0.8em;
    }
    .cb-profile h3{
        font-size: 1.8em;
    }

}
