{% extends "base.html" %}
{% block content %}
    <div class="container col-11 col-sm-8 col-lg-6 cb-add_event">
        <h5 class="d-flex justify-content-center " style="font-family: Chiller; font-size: 2em;">Filter climbs</h3>
        <div class="row text-center">
            <form action="{{ url_for('filter') }}" method="POST">
                <div class="input-group mb-3 flatpickr">
                    <input type="text" name="climbing_date" class="form-control flatpickr-date" placeholder="Select Date.."
                        data-input>
                    <div class="input-group-append">
                        <a class="input-button btn" title="toggle" data-toggle>
                            <i class="far fa-calendar"></i>
                        </a>
                        <a class="input-button btn" title="clear" data-clear>
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="input-group pt-3">
                    <span class="input-group-text"><i class="fas fa-mountain"></i></span>
                    <select class="form-select" name="climbing_style" aria-label="climbing type">
                        <option disabled selected>Climbing type </option>
                        <option value="sport">Sport</option>
                        <option value="trad">Trad</option>
                        <option value="sport&trad">Sport&Trad</option>
                    </select>
                </div>
                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    <input type="text" id="autocomplete3" name="climbing_location" class="form-control"
                        placeholder="Enter location" aria-label="Location" aria-describedby="location" />
                </div>
                <div class="input-group pt-3">
                    <div class="form-check form-switch cb-form-switch">
                        <input class="form-check-input switcher" type="checkbox" id="equip" name="equipment" />
                        <label class="form-check-labelr" for="equip">Required full equipment</label>
                    </div>
                </div>
                <div class="input-group-append pt-3">
                    <button class="btn btn-primary" type="submit">Filter</button>
                    <a href="{{ url_for('climbs') }}" class="btn btn-danger"><i class="far fa-times-circle"></i></a>
                </div>
            </form>
        </div>
    </div>
    {% for climb in climbs %}
    <div class="row justify-content-center cb-climbs my-5">
        <div class="card col-8 cb-climb_card text-center">
            <div class="card-body ">
                <h4 class="card-title">{{ climb.climb_location }}</h4>
                <h5 class="card-title">{{ climb.climb_date }}</h5>
                <p class="card-text">
                    {{ climb.climb_description }}
                </p>
                <p>{{ climb.created_by }}</p>
                {% if session.user != climb.created_by %}
                <a href="#accept_climb{{ climb._id }}" class="btn btn-success" role="button" data-mdb-toggle="modal">Accept
                    Climb</a>
                {% endif %}
                {% if session.user|lower == climb.created_by or session.user|lower == 'admin' %}
                {% if session.user|lower == climb.created_by %}
                <a class="btn btn-success" href="{{ url_for('edit_climb', climb_id=climb._id) }}" role="button">Edit</a>
                {% endif %}
                <a href="#delete_climb{{ climb._id  }}" class="btn btn-danger" data-mdb-toggle="modal"
                    role="button">Delete</a>
                {% endif %}
            </div>
        </div>
        <!-- Accept climb modal -->
        <div class="modal fade " id="accept_climb{{ climb._id }}" tabindex="-1" aria-labelledby="Accept Climb"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content cb-accept--content">
                    <div class="modal-header d-flex justify-content-center">
                        <h5 class="modal-title" id="confirm_climb">Confirm Climb</h5>
                    </div>
                    <div class="modal-body">
                        <form id="submit_climb" onsubmit="return sendMail(this);">
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <i class="fas fa-user-check trailing accept-icons "></i>
                                <input type="text" id="name" class="form-control active" value="{{ username.username  }}" readonly />
                                <label class="form-label" for="name">Your Profile Name</label>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <i class="fas fa-at trailing accept-icons " ></i>
                                <input type="email" id="email" class="form-control active" value=" {{ username.user_email }}" readonly />
                                <label class="form-label" for="email">Your Email Address</label>
                            </div>
                            <!-- Reciver name -->
                            <div class="form-outline mb-4">
                                <i class="fas fa-id-badge trailing accept-icons "></i>
                                <input type="text" id="creator" class="form-control active" value="{{ climb.created_by  }}" readonly />
                                <label class="form-label" for="creator">Event Creator</label>
                            </div>
                            <!-- Reciver email -->
                            <input type="email" id="receiver" class="form-control" value=" {{ climb.email }}" style="display: none;" >
                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <i class="fas fa-keyboard trailing"></i>
                                <textarea class="form-control" id="message" rows="4"></textarea>
                                <label class="form-label" for="message">Message</label>
                            </div>
                            <div class="response mt-2 text-center" >
                            </div>
                            <!-- Submit button -->
                            <div class="form-outline mb-4 text-center" >
                                <button type="submit" class="btn cb-btn--submit mt-2"><i class="far fa-paper-plane"></i>
                                    Send</button>
                                <a href="#" class="btn cb-btn--cancel" data-mdb-dismiss="modal"><i class="fas fa-times"></i>
                                    Close</a>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Confirm delete modal -->
        <div class="modal fade" id="delete_climb{{ climb._id }}" tabindex="-1" aria-labelledby="Delete Climb"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title d-flex justify-content-center" id="deleteClimb">Are you sure you want to
                            delete
                            this climbing request?</h5>
                    </div>
                    <div class="modal-body"><i class="fas fa-times"></i></div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-mdb-dismiss="modal">Cancel</a>
                        <a href="{{ url_for('delete_climb', climb_id=climb._id) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% block script %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_Pe6VH6LXUub6khTthNcbC");
        })();
    </script>
    <script src="static/js/email.js"></script>
    {% endblock %}
    {{ pagination.links }}
{% endblock %}