{% extends "base.html" %}
{% block content %}
    <div class="container ">
        {% for climb in climbs %}
        <div class="row  text-center ">
            <div class="card col-8 offset-md-2">
                <div class="card-body">
                    <h5 class="card-title">{{ climb.climb_date }}</h5>
                    <h5 class="card-title">{{ climb.climb_time }}</h5>
                    <h4 class="card-title">{{ climb.climb_location }}</h4>
                    <p class="card-text">
                        {{ climb.climb_description }}
                    </p>
                    <p>{{ climb.created_by }}</p>

                </div>
            </div>
            {% if session.user|lower == climb.created_by %}
            <a class="btn btn-success" href="{{ url_for('edit_climb', climb_id=climb._id) }}" role="button">Edit</a>
            {% endif %}
            {% endfor %}            
        </div>
    </div>
{% endblock %}