{% extends "base.html" %}
{% block content %}
<div class="container ">
    {% for climb in climbs %}
    <div class="row  text-center ">
        <div class="card col-8 offset-md-2">
            <div class="card-body">
                <h5 class="card-title">{{ climb.climb_date }}</h5>
                <h5 class="card-title">{{ climb.climb_time }}</h5>
                <h4 class="card-title">{{ climb.climb_location }}</h4>
                <p class="card-text">
                    {{ climb.climb_description }}
                </p>
                <p>{{ climb.created_by }}</p>

            </div>
        </div>
        {% if session.user != climb.created_by %}
        <a href="#accept_climb" class="btn btn-success"  role="button" data-mdb-toggle="modal">Accept Climb</a>
        {% endif %}
        {% if session.user|lower == climb.created_by or session.user|lower == 'admin' %}
        {% if session.user|lower == climb.created_by %}
        <a class="btn btn-success" href="{{ url_for('edit_climb', climb_id=climb._id) }}" role="button">Edit</a>
        {% endif %}
        <a href="#delete_climb{{ climb._id  }}" class="btn btn-danger" data-mdb-toggle="modal" role="button">Delete</a>
        <!-- Accept climb modal -->
        <!-- TODO: succes info for usser and close modal after submitting -->
        <div class="modal fade " id="accept_climb" tabindex="-1" aria-labelledby="Accept Climb" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title d-flex justify-content-center" id="confirm_climb">Confirm climb</h5>
                    </div>
                    <div class="modal-body">
                        <form id="submit_climb" onsubmit="return sendMail(this);">
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="name" class="form-control" value="{{ username.username  }}" />
                                <label class="form-label" for="name">Your Profile name</label>
                            </div>
        
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control" value=" {{ username.user_email }}" />
                                <label class="form-label" for="email">Email address</label>
                            </div>
        
                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="message" rows="4"></textarea>
                                <label class="form-label" for="">Message</label>
                            </div>
                            <div class="response" style="width:100%; height:100%;">
                            </div>
                            <!-- Submit button -->
                            <a href="#" class="btn btn-danger" data-mdb-dismiss="modal"><i class="fas fa-times"></i> Close</a>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Confirm delete modal -->
        <div class="modal fade delete" id="delete_climb{{ climb._id }}" tabindex="-1" aria-labelledby="Delete Climb"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title d-flex justify-content-center" id="deleteClimb">Are you sure you want to
                            delete
                            this climbing request?</h5>
                    </div>
                    <div class="modal-body"><i class="fas fa-times"></i></div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-mdb-dismiss="modal">Cancel</a>
                        <a href="{{ url_for('delete_climb', climb_id=climb._id) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% block script %}
{% for climb in climbs %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
</script>
<script type="text/javascript">
    (function () {
        emailjs.init("user_Pe6VH6LXUub6khTthNcbC");
    })();
</script>
<!-- variables to pass values to send mail-->
<script type="text/javascript">
    var user = "{{ climb.created_by }}"
    var user_email = "{{ climb.email }}"
    var other_user = "{{ username.username }}"
    var other_email = "{{ username.user_email }}"
</script>
<script src="static/js/email.js"></script>
{% endfor %}
{% endblock %}
{% endblock %}