{% extends "base.html" %}
{% block content %}
    <div class="modal fade" id="accept_climb" tabindex="-1" aria-labelledby="Accept Climb" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content cb-accept--content">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title" id="confirm_climb">Confirm Climb</h5>
                </div>
                <div class="modal-body">
                    <form id="submit_climb" onsubmit="return sendMail(this);">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <i class="fas fa-user-check trailing accept-icons "></i>
                            <input type="text" class="form-control active" id="name" name="name" value="{{ username.username  }}"
                                readonly />
                            <label class="form-label" >Your Profile Name</label>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <i class="fas fa-at trailing accept-icons "></i>
                            <input type="email" class="form-control active" id="email" name="email" value="{{ username.user_email }}"
                                readonly />
                            <label class="form-label">Your Email Address</label>
                        </div>
                        <!-- Reciver name -->
                        <div class="form-outline mb-4">
                            <i class="fas fa-id-badge trailing accept-icons "></i>
                            <input type="text"  class="form-control active" id="creator" name="creator" value="{{ climb.created_by  }}"
                                readonly />
                            <label class="form-label" >Event Creator</label>
                        </div>
                        <!-- Reciver email -->
                        <div class="form-outline mb-4">
                            <input type="email"  class="form-control active" id="receiver" name="receiver" value="{{ climb.email }}" readonly>
                        </div>
                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <i class="fas fa-keyboard trailing"></i>
                            <textarea class="form-control" id="message" name="message" rows="4"></textarea>
                            <label class="form-label" for="message">Message</label>
                        </div>
                        <div class="response text-center">
                        </div>
                        <!-- Submit button -->
                        <div class="form-outline mb-4 text-center">
                        <button type="submit" class="btn cb-btn--submit mt-2"><i class="far fa-paper-plane"></i>
                            Send</button>
                        <a href="#" class="btn cb-btn--cancel" data-mdb-dismiss="modal"><i class="fas fa-times"></i>
                            Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
        <script type="text/javascript">
            (function () {
                emailjs.init("user_Pe6VH6LXUub6khTthNcbC");
            })();
        </script>
        <script src="{{ url_for('static', filename='js/email.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}