{% extends "base.html" %}
{% block content %}
    <div class="container ">
        {% for event in events %}
        <div class="row  text-center ">
            <div class="card col-8 offset-md-2">
                <img
                src=""
                class="card-img-top hover-shadow {{ event.event_type }}"
                alt="..."
                />
                <div class="card-body">
                <h5 class="card-title">{{ event.event_date }}</h5>
                <h5 class="card-title">{{ event.event_time }}</h5>
                <h4 class="card-title">{{ event.event_location }}</h4>
                <p class="card-text">
                    {{ event.event_description }}
                </p>
                <a class="btn btn-success" href="{{ url_for('edit_event', event_id=event._id) }}" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}