{% extends "base.html" %}
{% block content %}
    {% for event in events %}
        {{ event.event_date }}<br>
        {{ event.location }}<br>
        {{ event.description }}
    {% endfor %}
    <div class="container ">
        <div class="row  text-center">
            <div class="card col-8 offset-md-2">
                <img
                src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                class="card-img-top hover-shadow"
                alt="..."
                />
                <div class="card-body">
                <h5 class="card-title">Event</h5>
                <p class="card-text">
                    The event will take place .....
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}