{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center cb-text">
                <h1 >Climbing Buddy</h1>
                <h3><span>HERE YOU WILL FIND YOUR CLIMBING PARTNER<br>
                    Register to our website to find your perfect partner...<br>
                    Dont't forget to check our EVENTS for the latest climbing meetups.
                </span></h3>
            </div>
        </div>
    </div>
{% endblock %}