{% extends "base.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-center cb-container mt-5" >
    <div class="card col-11 col-lg-6  cb-profile text-center">
        <div class="col card-body">
            <h3 class="my-2">YOUR CLIMBING
                PROFILE
            </h3>
            <div class="input-group mb-2 d-flex justify-content-center">
                <span class="input-group-text form-icons"><i class="far fa-user"></i></span>
                <span class="input-group-text border-0">{{ username.username }}</span>

            </div>
            <div class="input-group mb-2 d-flex justify-content-center">
                <span class="input-group-text form-icons"><i class="far fa-envelope"></i></span>
                <span class="input-group-text border-0">{{ username.user_email }}</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}