{% extends "base.html" %}
{% block content %}

<div class="container cb-register col-11 col-sm-8 col-lg-6 text-center mt-5 mb-2">
    <h3 class="d-flex justify-content-center" style="font-family: Chiller; font-size: 2em;">Join Our Climbing Site!</h3>
    <form method="POST" action="{{ url_for('register') }}">
        <!-- Username input -->
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="far fa-user"></i></span>
            <input type="text" id="username" name="username" class="form-control" minlength="3" maxlength="20"
                pattern="^[a-zA-Z0-9]{3,20}$" required />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="far fa-envelope"></i></span>
            <input type="email" id="email" name="email" class="form-control" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
            <input type="password" id="password" name="password" class="form-control" minlength="6" maxlength="20"
                pattern="^[a-zA-Z0-9]{6,20}$" required />
        </div>
        <!-- Confirm Password input -->
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-check-double"></i></span>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" />
        </div>
        <!-- Submit button -->
        <button type="submit" id="submit" name="submit" class="btn btn-primary cb-btn--submit mb-4">Sign up</button>
</div>
</form>
</div>
<div class="row">
    <div class="col">
        <p class="d-flex justify-content-center">
            Registered Already?              
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</div>
{% endblock %}