{% extends "base.html" %}
{% block content %}
    <div class="container col-11 col-sm-8 col-lg-6 cb-add_climb">
        <div class="row py-3">
            <form action="{{ url_for('search_climber') }}" method="POST">
                <h3 class="d-flex justify-content-center text-center">SEARCH FOR A CLIMBER </h3>
                <div class="input-group mb-3 flatpickr">
                    <input type="text" name="climb_date" class="form-control flatpickr-date" placeholder="Select Date.." data-input>
                    <div class="input-group-append">
                        <a class="input-button btn" title="toggle" data-toggle>
                            <i class="far fa-calendar"></i>
                        </a>
                        <a class="input-button btn" title="clear" data-clear>
                            <i class="fas fa-times"></i>
                        </a>
                    </div>            
                </div>
                <div class="input-group pt-3">
                    <span class="input-group-text"><i class="fas fa-mountain"></i></span>
                    <select class="form-select" name="climb_type" aria-label="climbing type">
                        <option disabled selected>Climbing type </option>
                        <option value="sport">Sport</option>
                        <option value="trad">Trad</option>
                        <option value="bouldering">Bouldering</option>
                    </select>
                </div>
                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    <input type="text" id="autocomplete" name="climb_location" class="form-control"
                        placeholder="climb location" aria-label="Location" aria-describedby="location" required/>
                </div>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-align-left"></i></span>
                    <textarea id="climb_description" name="climb_description" class="form-control"
                        aria-label="climb description" placeholder="climbing info" rows="4" required></textarea>
                </div>
                <div class="input-group pt-3">
                    <div class="form-check form-switch cb-form-switch">
                        <input class="form-check-input switcher " type="checkbox" id="full_equip" name="full_equip" />
                        <label class="form-check-label " for="full_equip">Providnig full climbing gear</label>
                    </div>
                </div>
                <div class="input-group-append pt-3 text-center">
                    <button class="btn cb-btn--submit" type="submit">Add Climb<i class="fas fa-search-plus"></i></button>
                    <a href="{{ url_for('climbs') }}" class="btn cb-btn--back_climbs" >Back to Climbs<i class="fas fa-undo"></i></a> 
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/flatpickr.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/places.js') }}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyxmvO8Q4IkYaxhRkesueMk7Qpin2lYjY&libraries=places&callback=initAutocomplete"
        async defer>
        </script>
{% endblock %}