{% extends "base.html" %}
{% block content %}
<h3 class="d-flex justify-content-center mt-5">Search for a climber</h3>
<div class="container col-4">
    <div class="row py-3">
        <form action="{{ url_for('search_climber') }}" method="POST">
            <div class="input-group mb-3 " ">
                    <div class=" input-group mt-3 mb-3">
                <input type="date" id="climb_date" name="climb_date" class="form-control" placeholder="Date"
                    aria-label="date of event" aria-describedby="date" />
            </div>
            <div class="input-group mt-3 mb-3">
                <input type="time" id="climb_time" name="climb_time" class="form-control" placeholder="Time"
                    aria-label="Time of event" aria-describedby="time" required />
            </div>
            <div class="input-group pt-3">
                <select class="form-select" name="climb_type" aria-label="climbing type">
                    <option selected>Climbing type for that day</option>
                    <option value="sport">Sport</option>
                    <option value="trad">Trad</option>
                    <option value="sport&trad">Sport&Trad</option>
                </select>
            </div>
            <div class="input-group mt-3 mb-3">
                <input type="text" id="climb_location" name="climb_location" class="form-control" placeholder="Location"
                    aria-label="Location" aria-describedby="location" required />
            </div>
            <div class="input-group">
                <textarea id="climb_description" name="climb_description" class="form-control"
                    aria-label="climb description" placeholder="climbing info" rows="4" required></textarea>
            </div>
            <div class="input-group pt-3">
                <!-- Checked switch -->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" />
                    <label class="form-check-label" for="flexSwitchCheckChecked">Providnig full climbing gear</label>
                </div>
            </div>
            <div class="input-group-append pt-3">
                <button class="btn btn-primary" type="submit">Search climber</button>
            </div>
        </form>
    </div>
    {% endblock %}